<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <link rel="stylesheet" href="static/Registrarse.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <nav class="navbar navbar-default" style="background-color: honeydew;">
        <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand">Difuxx-lab</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="{{url_for('index')}}" style="background-color: honeydew;">Home</a></li>
                <li><a href="{{url_for('login')}}">Login</a></li>
                <li><a href="{{ url_for('sign_up') }}">Sign up</a></li>
              </ul>
            </div>
    </nav>
    <meta charset="UTF-8">
    <title>Registrarse</title>
  </head>
  <body style="background-color: darkslategray;">
  <div>
    {% for message in get_flashed_messages() %}
      <div class="alert alert-success alert-dismissible">
        <button type="button" data-dismiss="alert" class="close">&times;</button>
      {{message}}</div>
    {% endfor %}
    <div class="form">
      <form method= "post" action="/sign_up">
      <input name="username" type="text" placeholder="Username"/>
      <input name="email" type="text" placeholder="Enter your email"/>
      <input name="password" type="password" placeholder="Password"/>
      <input type="submit" value="Registrarse" href="{{ url_for('sign_up') }}"/>
      </form>
    </div>
  </div>
  </body>
</html>

